/* common design */
.highlight {
    color: orange;
}

/* Banner */

.banner-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 120px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.text-banner h1 {
    font-family: 'noto serif';
    font-size: 65px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.text-banner p {
    font-family: "Inter";
    opacity: .5;
    font-size: 22px;
    max-width: 570px;
    margin: 0px;
}

.banner-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: -4px;
}

/* Responsive for Iphone 14 & 15 pro */
@media screen and (max-width: 430px) {
    .banner-container {
        flex-wrap: wrap-reverse;
        gap: 30px;
        padding-left: 0;
        padding-bottom: 65px;
    }

    .banner-image img {
        width: 100vw;
        max-width: 100vw;
        height: auto;
        display: block;
    }

    .text-banner {
        padding: 0 20px;
    }

    .text-banner h1 {
        font-size: 24px;
    }

    .text-banner p {
        font-size: 14px;
    }
}

/* Banner End */
/* ourplant design */
.container-ourplant-heading {
    font-family: 'noto serif';
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 16px;
    margin: 0px;
}

.container-ourplant-text {
    font-family: "Inter";
    opacity: .5;
    font-size: 22px;
    padding-bottom: 50px;
    margin: 0px;
    max-width: 900px;
}

.container-ourplant {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0px auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: none;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.products-container>.box p {
    font-family: 'Inter';
    font-size: 22px;
}

.price {
    font-weight: bold;
}

.products-container>.box button {
    border: none;
    color: white;
    background-color: orange;
    width: 100%;
    padding: 20px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
}

.products-container>.box button:hover {
    background-color: darkorange;
    cursor: pointer;
}

/* Responsive for Iphone 14 & 15 pro */
@media screen and (max-width: 430px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-ourplant-heading {
        font-size: 24px;
    }

    .container-ourplant-text {
        font-size: 14px;
    }

    .products-container>.box p {
        font-size: 16px;
    }

}

/* End of Plants Section */

/* latest Deal Section */

.latest-deal-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    text-align: center;
}


.heading {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    margin-bottom: 16px;
}


.text-latest-deal p {
    font-size: 22px;
    opacity: .5;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.5;
}


.image-latest-deal {
    display: grid;
    grid-template-columns: 37% 61%;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}


.deal {
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/deal-bloom.png');
}

.box3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/deal-ana.png');
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/deal-zabo.png');

}


.deal p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box2 p {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box2 button {
    font-size: 28px;
}

.deal button {
    color: white;
    background: none;
    text-decoration: underline;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.deal button:hover {
    background-color: orange;
}

/* Responsive for Iphone 14 & 15 pro */
@media screen and (max-width: 430px) {
    .image-latest-deal {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .box1,
    .box2,
    .box3 {
        grid-column: 1 / -1;
        grid-row: auto;
    }

    .heading {
        font-size: 24px;
    }

    .text-latest-deal p {
        font-size: 14px;
    }

    .deal p {
        font-size: 20px;
    }

    .deal button {
        font-size: 16px;
    }

}

/* End of latest Deal Section */